@charset "UTF-8";
/* CSS Document */


#header-gz
{
	background-image:url(../images/belissa.png);
	width:230px;
	height:145px;
	border-bottom:2px solid #ae57a2;
	margin-bottom:20px;
}

#section-gz
{
	margin:20px 0px;
	overflow:scroll;
	border-bottom:2px solid #999;
}

#gz-list .ui-panel-inner
{
	padding-top:0px !important;
	padding-bottom:0px !important;
}

.button
{
	width:200px;
}

#aspirante
{
	background-color:#755487;
	width:100%;
	height:20px;
	color:#FFF;
	text-align:right;
	bottom:60px;
	position:fixed;	
	text-shadow:none;
}

#aspirante-bienvenida
{
	font-size:20px;
	opacity:0.7;
}

#aspirante-nombre
{
	font-size:26px;	
	margin-right:20px;	
	font-weight:regular;	
}

#cerrar-sesion
{
	cursor:pointer;
	font-weight:100;	
	font-size:14px;
	margin:0px 20px;
}

footer
{
	background-color:	#ae57a2;
	color:white;
	width:100%;
	height:60px;
	padding:0px 14px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	bottom:0px;
	position:fixed;
}

#footer-message
{
	color:white;
	position:absolute;
	bottom:2px;
	right:14px;
	width:700px;
	text-align:right;
	text-shadow:none;
}

#inscripcion-nombre
{
	width:100%;
	text-align:center;
	background-color:#EFEFEF;
	padding:5px !important;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

textarea
{
	width:400px !important;
	min-height:200px !important;
}

.marker-image
{
	width:100%;
	height:auto;	
}

.marker-wrap-image
{
	width:150px;
	height:150px;
	overflow:hidden;
	display:inline-block;	
	margin-bottom:10px;
	float:left;
}

.marker-content
{
	padding:10px;
}

.marker-description
{
	min-width:400px;
	display:inline-block;	
	left:180px;
	right:0px;
	margin-left:30px;
}

.marker-name
{
	color:#755487;
	padding:0px;
	margin:0px;
}

#footer-message .ui-alt-icon.ui-icon-info:after, .ui-alt-icon .ui-icon-info:after 
{
	background-image: url("../images/info.png");
}

.ui-btn.my-tooltip-btn,
.ui-btn.my-tooltip-btn:hover,
.ui-btn.my-tooltip-btn:active {
    background: none;
    border: 0;
	width:32px;
	height:32px;
}

#intro
{
	background-image:url(../images/intro.png); 
	background-repeat:no-repeat;
	width:500px; 
	height:330px;	
}

#intro-ingresar
{
	position:relative;
	float:left;
	margin-left:9px;
}

#intro-buscar
{
	position:relative;
	float:left;
	display:inline-block;
	width:334px;
	margin-top:5px;
}

#intro-buscar-wrap
{
	position:absolute;
	bottom:0px;
	left:20px;	
	width:460px;
	background-color:white;
	border-top:1px solid #ae57a2;
}
.float_right
{
	position:absolute;
	right:70px;
}